// This File is imported last, and will override other styles in the cascade
// Add styles here to make changes without digging in too much
@import "footnote";

.page img.fixed-height {
	width:auto;
	height:150px;
}

.page img.right {
	float:right;
	margin-left:1.5em;
}

.page img.left {
	float:left;
	margin-right:1.5em;
}